<%- include('header') -%>

<p>Halló heimur</p>

<form action="/register" method="post">
    <label for="name">Nafn</label>
    <input type="text" id="name" name="name" required/>
    <label for="kennitala">Kennitala</label>
    <input type="text" id="kennitala" name="kennitala"/>
    <label for="email">Netfang</label>
    <input type="email" id="email" name="email"/>
    <label for="address">Heimilisfang</label>
    <input type="text" id="address" name="address"/>
    <label for="phoneNr">Símanúmer</label>
    <input type="text" id="phoneNr" name="phoneNr"/>
    <button id="register" type="submit">Skrá mig!</button>
</form>
<%- include('footer') -%>