<%- include('head2') -%>
<h1 id="indexHead"> Félag Farþega</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. At risus viverra adipiscing at in tellus integer feugiat. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Sit amet volutpat consequat mauris nunc congue nisi. Sagittis eu volutpat odio facilisis mauris sit amet. Magna eget est lorem ipsum. Purus in massa tempor nec feugiat nisl. Tristique nulla aliquet enim tortor at auctor. Porta non pulvinar neque laoreet. Purus semper eget duis at tellus at urna condimentum mattis. Enim praesent elementum facilisis leo. Consequat nisl vel pretium lectus quam id leo in vitae.</p>
<h2>Skráðu þig í félagið!</h2>
<div id="gridWrapper">
    <form id="regForm" class="mb-3 col" action="/register" method="post">
        <label for="name" class="form-label">Nafn</label>
        <input type="text" class="form-control-sm" id="name" name="name" required/>
        <label for="kennitala" class="form-label">Kennitala</label>
        <input type="text" class="form-control-sm" id="kennitala" name="kennitala"/>
        <label for="email" class="form-label">Netfang</label>
        <input type="email" class="form-control-sm" id="email" name="email"/>
        <label for="address" class="form-label">Heimilisfang</label>
        <input type="text" class="form-control-sm" id="address" name="address"/>
        <label for="phoneNr" class="form-label">Símanúmer</label>
        <input type="text" class="form-control-sm" id="phoneNr" name="phoneNr"/>
        <button id="register" class="btn btn-primary" type="submit">Skrá mig!</button>
    </form>
</div>
<%- include('footer') -%>